<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Job Description</title>

    <link rel="stylesheet" href="assets/css/index.css" type="text/css">
</head>

<body>

    <%- include('partials/navbar') %>

    <div class="main-content" id="panel">
        
        <%- include('partials/header') %>

        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-8 order-xl-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0"><%= jobDescriptionTitle %></h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/" name="job-description">
                                <input type="hidden" value="<%= jobDescriptionTitle %>" name="jobTitle" />
                                
                                <% jobDescriptionData.forEach(function(jobDescription) { %>
                                    <h6 class="heading-small text-muted mb-4"><%= jobDescription.title %></h6>

                                    <% jobDescription["description"].forEach(function(description) { %>
                                        <div class="pl-lg-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            name="<%= jobDescription.title.replace(/ /g, '_').toLowerCase() %>"
                                                            value="<%= description %>" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <% }); %>
                                    <hr class="my-4" />
                                <% }); %>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
